@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5" style="min-height:80vh;">
    <h2 class="text-danger mt-5">
        <i class="bi bi-shield-lock-fill"></i> Access Denied
    </h2>
    <p class="lead  mt-2">You do not have permission to view this resource.</p>
    <a href="/" class="btn bk-btn w-20">Go to Home</a>
</div>